<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>검색</title>
    <script type="text/javascript"
            src="//dapi.kakao.com/v2/maps/sdk.js?appkey=100724e7371c8099c1e87acc78c4e062&libraries=services"></script>
</head>
<body>
<div id="map" style="width:50%;height:1000px; float: right"></div>
<h1><a th:href="@{/search/kakaosearch}" style="text-decoration: none; color: black">식당 검색</a></h1>
<div class="container">
    <form action="/search/kakaosearch/list" method="get">
        <div class="form-group">
            <input type="text" id="keyword" name="keyword" placeholder="검색어를 입력하세요">
        </div>
        <button type="submit" id="submit_btn">검색</button>
    </form>
</div>
<div class="container" th:if="${kakaoSearchList}">
    <h2 style="text-align: center">검색 리스트</h2>
    <table class="table">
        <thead class="thead-light">
        <tr class="text-center">
            <th scope="col">placeName</th>
            <th scope="col">categoryName</th>
            <th scope="col">phone</th>
            <th scope="col">roadAddressName</th>
            <th scope="col">addressName</th>
        </tr>
        </thead>
        <tbody>
        <tr class="text-center" th:each="kakaosearch:${kakaoSearchList}">
            <th scope="row" th:text="${kakaosearch.place_name}"></th>
            <th scope="row" th:text="${kakaosearch.category_name}"></th>
            <th scope="row" th:text="${kakaosearch.phone}"></th>
            <th scope="row" th:text="${kakaosearch.road_address_name}"></th>
            <th scope="row" th:text="${kakaosearch.address_name}"></th>
        </tr>
        </tbody>
    </table>
</div>
<script th:inline="javascript">
    // 마커를 저장할 배열
    var markers = [];

    // 키워드 검색으로 받아온 데이터
    var data = [[${kakaoSearchList}]]

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(37.4895246, 126.986331), // 지도 중심좌표
            level: 4
        }

    // 지도 생성
    var map = new kakao.maps.Map(mapContainer, mapOption);

    var infowindow = new kakao.maps.InfoWindow({zIndex:1});

    if(markers != null) {
        // 키워드를 통해 입력받은 배열 for문으로 좌표값만 산출 후 마커 생성에 저장
        for (var i = 0; i < data.length; i++) {
            var markerPositions = new kakao.maps.LatLng(data[i].y, data[i].x);
            marker = addMarker(markerPositions, i);


        }

        // 마커를 저장
        function addMarker(position) {
            var marker = new kakao.maps.Marker({
                position: position // 마커 위치 표기
            });
            marker.setMap(map); // 지도 위에 마커 표출
            markers.push(marker); // 배열에 생성된 마커를 추가
            return marker; //
        }
    } else {
        alert('키워드를 입력해 주세요')
    }
</script>
</body>
</html>